---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h3">;

const { id, class: className, ...attrs } = Astro.props;
---

<h3
  {...attrs}
  {id}
  class:list={["group mt-8 mb-2 scroll-mt-4 text-2xl", className]}
>
  {
    id ? (
      <a href={`#${id}`} class="text-inherit no-underline">
        <slot />
        <Icon
          name="mdi:link-variant"
          aria-hidden="true"
          class="hover:text-accent hidden align-middle text-[0.85em] opacity-0 transition group-focus-within:opacity-100 group-hover:opacity-100 md:inline"
        />
      </a>
    ) : (
      <slot />
    )
  }
</h3>
