---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"p">;

const { class: className, ...attrs } = Astro.props;
---

<p {...attrs} class:list={["text-lg font-light", className]}>
  <slot />
</p>
