---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "@layouts/Base.astro";
import PostCard from "@components/PostCard.astro";

import { slugify, filterPosts, getAllCategories } from "@utils/utils";

// generate a static path for each category
export const getStaticPaths = async () => {
  const allPosts = await getCollection("blog");
  const filteredPosts = filterPosts(allPosts);

  // a unique set of all categories extracted from posts
  const allCategories = getAllCategories(filteredPosts);

  // generate a path for each category
  return allCategories.map((category) => {
    // all posts in a category
    const categoryPosts = filteredPosts.filter(
      (post) => post.data.category === category,
    );

    return {
      params: { category: slugify(category) },
      props: {
        category: category,
        posts: categoryPosts,
      },
    };
  });
};

interface Props {
  category: CollectionEntry<"blog">["data"]["category"];
  posts: CollectionEntry<"blog">[];
}

const { category, posts } = Astro.props as Props;
---

<Layout title={category}>
  <main class="mx-auto my-16 max-w-5xl">
    <section class="mx-8" aria-label=`Posts about ${category}`>
      <h1 class="mb-8 text-4xl text-theme-light-text dark:text-theme-dark-text">
        Posts about {category}
      </h1>
      <ul class="space-y-8">
        {
          posts.map((post) => (
            <li>
              <PostCard post={post} maxTags={5} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
