---
import Layout from "@layouts/Base.astro";
import Link from "@components/ui/Link.astro";
---

<Layout title="Page Not Found" description="Missing page or broken URL">
  <div>
    <div>
      <h1>Well, this is awkward.</h1>
      <p>We seem to have misplaced something...</p>
    </div>
    <!--TODO: investigate the source of that weird error below-->
    <Link text="Go Home" href="/" style="primary" />
  </div>
</Layout>
