---
// component imports
import Base from "@layouts/Base.astro";
---

<Base title="Page Not Found">
  <div>
    <div>
      <h1>Well, this is awkward.</h1>
      <p>We seem to have misplaced something...</p>
    </div>
    <!-- TODO: add a button with text "Go Home" to navigate to index -->
  </div>
</Base>
