---
// library imports
import { Image } from "astro:assets";

// component imports
import Base from "@layouts/Base.astro";
import Link from "@components/Link.astro";
import headhshot from "@assets/images/headshot.jpg";
---

<Base title="About" description="About me">
  <section class="container about" aria-label="About Me">
    <Image src={headhshot} alt="My headshot" width={200} height={330} />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        vel veniam quia tempora ratione id adipisci pariatur nesciunt ea
        reiciendis mollitia in eaque numquam illum molestiae dicta, a quasi!
        Corporis sed blanditiis commodi! Ea, minima accusamus natus iste
        temporibus quisquam.
      </p>
      <Link href="mailto:yoo@yoo.com" style="primary" text="Contact Me" />
    </div>
  </section>
</Base>
