---
import { Image } from "astro:assets";
import { getCollection, CollectionEntry } from "astro:content";

import { filterPosts } from "@utils/utils";

import Layout from "@layouts/Base.astro";
import PostCard from "@components/PostCard.astro";
import headshot from "@assets/images/headshot.jpg";

const allPosts = await getCollection("blog");
// TODO: investigate why the limit is showing an error
const postsToDisplay = filterPosts(allPosts, { limit: 3 });
---

<Layout title="Murtadha - Home">
  <section aria-label="About Me">
    <div>
      <Image src={headshot} alt="My personal photo" width={200} height={330} />
      <div aria-label="Social media accounts and email">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div>
      <h1>Hey, I'm <span>Murtadha</span></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        vel veniam quia tempora ratione id adipisci pariatur nesciunt ea
        reiciendis mollitia in eaque numquam illum molestiae dicta, a quasi!
        Corporis sed blanditiis commodi! Ea, minima accusamus natus iste
        temporibus quisquam.
      </p>
    </div>
  </section>
  <section aria-label="Common Destinations">
    <h2>Looking for something?</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section aria-label="Latest Blog Posts">
    <h2>Latest Articles</h2>
    <div>
      {
        postsToDisplay.map((post) => (
          <PostCard frontmatter={post.data} slug={post.slug} maxTags={3} />
        ))
      }
    </div>
  </section>
</Layout>
