---
import { Icon } from "astro-icon";

import navData from "@data/navData";
// TODO: find a more elegant solution for excluding those nav destinations
const excludedDestinations = ["Photography"];
---

<footer>
  <nav>
    <ul>
      {
        navData
          .filter((item) => {
            return !excludedDestinations.includes(item.name);
          })
          .map((item) => (
            <li>
              <a href={item.path}>
                <span>{item.name}</span>
              </a>
            </li>
          ))
      }
    </ul>
  </nav>
  <div>
    <small>
      Copyright &copy; <span id="copyright"></span> | all rights reserved
    </small>
    <small>
      <a href="/rss.xml">
        RSS
        <Icon name="tabler:rss" width="20" height="20" />
      </a>
    </small>

    <script>
      document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
    </script>
  </div>
</footer>
