---
import { Icon } from "astro-icon/components";
import { navData } from "@data/navData";

const currentPath = Astro.url.pathname.replace(/\/+$/, "");
---

<footer
  class="mx-auto mb-8 flex max-w-5xl flex-col items-center justify-between sm:flex-row"
>
  <nav class="flex items-center justify-between gap-4 sm:ml-8 md:gap-8">
    {
      navData
        .filter((item) => item.footerNav)
        .map((item) => (
          <a
            href={item.path}
            aria-current={item.path === currentPath ? "page" : null}
            class="hover:text-accent text-sm font-medium transition"
          >
            {item.label}
          </a>
        ))
    }
    <a
      href="/rss.xml"
      class="hover:text-accent flex items-center justify-between gap-1 text-sm font-medium transition"
    >
      <div>RSS</div>
      <Icon name="line-md:rss" width={20} />
    </a>
  </nav>

  <div class="sm:mr-8">
    <small class="text-fg-muted">
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<script>
  document.addEventListener("astro:page-load", () => {
    const copyrightElement = document.getElementById("copyright");
    if (copyrightElement !== null) {
      copyrightElement.textContent = new Date().getFullYear().toString();
    }
  });
</script>
