---
import { Icon } from "astro-icon/components";
import { navData } from "@data/navData";
---

<footer
  class="mx-auto mb-8 flex max-w-5xl flex-col items-center justify-between text-theme-light-text dark:text-theme-dark-text sm:flex-row"
>
  <nav class="flex items-center justify-between gap-4 sm:ml-8 md:gap-8">
    {
      navData
        .filter((item) => item.footerNav)
        .map((item) => (
          <a
            href={item.path}
            aria-current={item.path === Astro.url.pathname ? "page" : null}
            class="text-sm font-medium transition hover:text-theme-light-accent dark:hover:text-theme-dark-accent"
          >
            {item.label}
          </a>
        ))
    }
    <a
      href="/rss.xml"
      class="flex items-center justify-between gap-1 text-sm font-medium transition hover:text-theme-light-accent dark:hover:text-theme-dark-accent"
    >
      <div>RSS</div>
      <Icon name="line-md:rss" width={20} />
    </a>
  </nav>

  <div class="sm:mr-8">
    <small class="text-theme-light-text-muted dark:text-theme-dark-text-muted">
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<script>
  const copyrightElement = document.getElementById("copyright");
  if (copyrightElement !== null) {
    copyrightElement.textContent = new Date().getFullYear().toString();
  }
</script>
