---
import { Icon } from "astro-icon";
import { navData } from "@data/navData";
---

<header
  class="mx-auto mt-4 flex max-w-5xl flex-col items-center justify-between sm:flex-row"
>
  <div class="">
    <div class="lg:hidden">
      <div tabindex={0} role="button" class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </div>
      <ul tabindex={0} class="">
        {
          navData.map((item) => (
            <li>
              <a href={item.path}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <a
      class="hidden rounded-3xl bg-gray-700 stroke-white p-4 lg:flex"
      href="/"
      aria-label="Go home"
    >
      <Icon name="logomark" width="35" />
    </a>
  </div>

  <div class="lg:hidden">
    <a href="/" aria-label="Go home">
      <Icon name="logomark" width="75" />
    </a>
  </div>

  <nav
    class="hidden items-center justify-between gap-8 rounded-full bg-theme-light-fill px-7 py-4 text-theme-light-text dark:bg-theme-dark-fill dark:text-theme-dark-text lg:flex"
  >
    {navData.map((item) => <a href={item.path}>{item.label}</a>)}
  </nav>

  <button
    id="theme-btn"
    class="rounded-3xl bg-gray-700 stroke-white p-4"
    aria-label="system theme"
  >
    <Icon name="mdi:theme-light-dark" width="28" />
  </button>
</header>

<script>
  const navLinks = document.querySelectorAll("header nav ul li a");

  navLinks.forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
