---
import { Icon } from "astro-icon/components";
import { navData } from "@data/navData";

const currentPath = Astro.url.pathname.replace(/\/+$/, "");
---

<header
  class="mx-auto mt-8 flex max-w-5xl flex-row items-center justify-between"
>
  <div class="ml-8">
    <div class="relative lg:hidden">
      <button
        tabindex={0}
        aria-label="Open Menu"
        aria-expanded="false"
        aria-controls="menu-items"
        id="hamburger-menu-btn"
        class="cursor-pointer"
      >
        <Icon
          name="line-md:close-to-menu-alt-transition"
          size={35}
          id="hamburger-menu-icon-closed"
          class="text-theme-light-text dark:text-theme-dark-text"
        />
        <Icon
          name="line-md:menu-to-close-alt-transition"
          size={35}
          id="hamburger-menu-icon-open"
          class="hide text-theme-light-text dark:text-theme-dark-text"
        />
      </button>
      <nav
        tabindex={0}
        class="hide bg-theme-light-fill-muted text-theme-light-text shadow-theme-light-text/15 dark:bg-theme-dark-fill-muted dark:text-theme-dark-text dark:shadow-theme-dark-text/5 absolute top-12 z-50 flex flex-col items-center justify-between gap-2 rounded-lg p-2 shadow-lg backdrop-blur"
        id="menu-items"
      >
        {
          navData.map((item) => (
            <a
              aria-current={item.path === currentPath ? "page" : null}
              class:list={[
                item.path === currentPath ? "nav-active" : "nav-inactive",
                "p-4 transition",
              ]}
              href={item.path}
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>

    <a
      class="bg-theme-light-fill-muted shadow-theme-light-text/15 ring-theme-light-text-muted/15 dark:bg-theme-dark-fill-muted dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 dark:hover:shadow-theme-dark-text/15 dark:hover:ring-theme-dark-text-muted/35 hidden rounded-3xl px-3 py-1 shadow-lg ring-1 backdrop-blur lg:block"
      href="/"
      aria-label="Go home"
    >
      <Icon class="dark:hidden" name="logo-light" width={85} height={50} />
      <Icon class="hidden dark:block" name="logo-dark" width={85} height={50} />
    </a>
  </div>

  <a
    class="bg-theme-light-fill-muted shadow-theme-light-text/15 ring-theme-light-text-muted/15 dark:bg-theme-dark-fill-muted dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 dark:hover:shadow-theme-dark-text/15 dark:hover:ring-theme-dark-text-muted/35 rounded-3xl px-3 py-1 shadow-lg ring-1 backdrop-blur lg:hidden"
    href="/"
    aria-label="Go home"
  >
    <Icon class="dark:hidden" name="logo-light" width={85} height={50} />
    <Icon class="hidden dark:block" name="logo-dark" width={85} height={50} />
  </a>

  <nav
    class="bg-theme-light-fill-muted text-theme-light-text shadow-theme-light-text/15 ring-theme-light-text-muted/15 dark:bg-theme-dark-fill-muted dark:text-theme-dark-text dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 hidden items-center justify-between gap-2 rounded-full px-3 shadow-lg ring-1 backdrop-blur lg:flex"
  >
    {
      navData.map((item) => (
        <a
          aria-current={item.path === currentPath ? "page" : null}
          class:list={[
            item.path === currentPath ? "nav-active" : "nav-inactive",
            "relative p-4 transition",
          ]}
          href={item.path}
        >
          {item.label}
          {item.path === currentPath ? (
            <span class="nav-active-underline" />
          ) : null}
        </a>
      ))
    }
  </nav>

  <button
    type="button"
    title="Toggle light or dark theme"
    id="theme-btn"
    class="bg-theme-light-fill-muted shadow-theme-light-text/15 ring-theme-light-text-muted/15 dark:bg-theme-dark-fill-muted dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 dark:hover:shadow-theme-dark-text/15 dark:hover:ring-theme-dark-text-muted/35 mr-8 rounded-3xl p-4 shadow-lg ring-1 backdrop-blur cursor-pointer"
    aria-label="System theme"
  >
    <Icon
      class="text-theme-dark-text-muted hidden dark:block"
      name="line-md:sunny-outline-to-moon-loop-transition"
      size={25}
      aria-hidden="true"
    />
    <Icon
      class="text-theme-light-text-muted dark:hidden"
      name="line-md:moon-filled-to-sunny-filled-loop-transition"
      size={25}
      aria-hidden="true"
    />
  </button>
</header>

<style>
  @reference "@styles/global.css";

  .nav-active {
    @apply text-theme-light-accent dark:text-theme-dark-accent;
  }

  .nav-inactive {
    @apply hover:text-theme-light-accent dark:hover:text-theme-dark-accent;
  }

  .nav-active-underline {
    @apply from-theme-light-accent/0 via-theme-light-accent/40 to-theme-light-accent/0 dark:from-theme-dark-accent/0 dark:via-theme-dark-accent/40 dark:to-theme-dark-accent/0 absolute inset-x-1 -bottom-px h-px bg-linear-to-r;
  }

  .hide {
    @apply hidden;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    // toggle nav menu
    const menuBtn = document.getElementById("hamburger-menu-btn");
    const menuItems = document.getElementById("menu-items");
    const menuIconOpen = document.getElementById("hamburger-menu-icon-open");
    const menuIconClosed = document.getElementById(
      "hamburger-menu-icon-closed"
    );

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";

      menuIconClosed?.classList.toggle("hide");
      menuIconOpen?.classList.toggle("hide");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("hide");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
    });
  });
</script>
