---
import { Icon } from "astro-icon/components";
import { navData } from "@data/navData";
---

<header
  class="mx-auto mt-8 flex max-w-5xl flex-row items-center justify-between"
>
  <div class="ml-8">
    <div class="relative lg:hidden">
      <button
        tabindex={0}
        aria-label="Open Menu"
        aria-expanded="false"
        aria-controls="menu-items"
        id="hamburger-menu-btn"
      >
        <Icon
          name="line-md:close-to-menu-alt-transition"
          size={35}
          id="hamburger-menu-icon-closed"
          class="text-theme-light-text dark:text-theme-dark-text"
        />
        <Icon
          name="line-md:menu-to-close-alt-transition"
          size={35}
          id="hamburger-menu-icon-open"
          class="hide text-theme-light-text dark:text-theme-dark-text"
        />
      </button>
      <nav
        tabindex={0}
        class="hide absolute top-12 z-50 flex flex-col items-center justify-between gap-2 rounded-lg bg-theme-light-fill-muted p-2 text-theme-light-text shadow-lg shadow-theme-light-text/15 backdrop-blur dark:bg-theme-dark-fill-muted dark:text-theme-dark-text dark:shadow-theme-dark-text/5"
        id="menu-items"
      >
        {
          navData.map((item) => (
            <a
              aria-current={item.path === Astro.url.pathname ? "page" : null}
              class={`${
                item.path === Astro.url.pathname ? "nav-active" : "nav-inactive"
              } p-4 transition`}
              href={item.path}
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>

    <a
      class="hidden rounded-3xl px-3 py-1 ring-1 ring-theme-light-text/30 hover:ring-theme-light-text/50 dark:ring-theme-dark-text/30 hover:dark:ring-theme-dark-text/50 lg:block"
      href="/"
      aria-label="Go home"
    >
      <Icon
        class="text-theme-light-text/30 dark:text-theme-dark-text/30"
        name="logomark"
        width={85}
        height={50}
      />
    </a>
  </div>

  <a
    class="rounded-3xl px-3 py-1 ring-1 ring-theme-light-text/30 hover:ring-theme-light-text/50 dark:ring-theme-dark-text/30 hover:dark:ring-theme-dark-text/50 lg:hidden"
    href="/"
    aria-label="Go home"
  >
    <Icon
      class="text-theme-light-text/30 dark:text-theme-dark-text/30"
      name="logomark"
      width={85}
      height={50}
    />
  </a>

  <nav
    class="hidden items-center justify-between gap-2 rounded-full bg-theme-light-fill-muted px-3 text-theme-light-text shadow-lg shadow-theme-light-text/15 ring-1 ring-theme-light-text-muted/15 backdrop-blur dark:bg-theme-dark-fill-muted dark:text-theme-dark-text dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 lg:flex"
  >
    {
      navData.map((item) => (
        <a
          aria-current={item.path === Astro.url.pathname ? "page" : null}
          class={`${
            item.path === Astro.url.pathname ? "nav-active" : "nav-inactive"
          } relative p-4 transition`}
          href={item.path}
        >
          {item.label}
          {item.path === Astro.url.pathname ? (
            <span class="nav-active-underline" />
          ) : null}
        </a>
      ))
    }
  </nav>

  <button
    type="button"
    title="Toggle light or dark theme"
    id="theme-btn"
    class="mr-8 rounded-3xl bg-theme-light-fill-muted p-4 shadow-lg shadow-theme-light-text/15 ring-1 ring-theme-light-text-muted/15 backdrop-blur dark:bg-theme-dark-fill-muted dark:shadow-theme-dark-text/5 dark:ring-theme-dark-text-muted/20 dark:hover:shadow-theme-dark-text/15 dark:hover:ring-theme-dark-text-muted/35"
    aria-label="System theme"
  >
    <Icon
      class="hidden text-theme-dark-text-muted dark:block"
      name="line-md:sunny-outline-to-moon-loop-transition"
      size={25}
      aria-hidden="true"
    />
    <Icon
      class="text-theme-light-text-muted dark:hidden"
      name="line-md:moon-filled-to-sunny-filled-loop-transition"
      size={25}
      aria-hidden="true"
    />
  </button>
</header>

<style>
  .nav-active {
    @apply text-theme-light-accent dark:text-theme-dark-accent;
  }

  .nav-inactive {
    @apply hover:text-theme-light-accent dark:hover:text-theme-dark-accent;
  }

  .nav-active-underline {
    @apply absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-theme-light-accent/0 via-theme-light-accent/40 to-theme-light-accent/0 dark:from-theme-dark-accent/0 dark:via-theme-dark-accent/40 dark:to-theme-dark-accent/0;
  }

  .hide {
    @apply hidden;
  }
</style>

<script>
  // toggle nav menu
  const menuBtn = document.getElementById("hamburger-menu-btn");
  const menuItems = document.getElementById("menu-items");
  const menuIconOpen = document.getElementById("hamburger-menu-icon-open");
  const menuIconClosed = document.getElementById("hamburger-menu-icon-closed");

  menuBtn?.addEventListener("click", () => {
    const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";

    menuIconClosed?.classList.toggle("hide");
    menuIconOpen?.classList.toggle("hide");
    menuBtn.setAttribute(
      "aria-label",
      menuExpanded ? "Open Menu" : "Close Menu",
    );
    menuItems?.classList.toggle("hide");
    menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
  });
</script>
