---
// library imports
import { Icon } from "astro-icon";

// data imports
import navData from "@data/navData";
---

<div>
  <a href="/" aria-label="Go home">
    <Icon name="logomark" width="100" />
  </a>
  <nav>
    <ul>
      {
        navData.map((item) => (
          <li>
            <a href={item.path} class="data-navLink">
              <span>{item.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <a href="">
    <Icon name="" width={50} />
  </a>
</div>

<script>
  const navLinks = document.querySelectorAll(".data-navLink");

  navLinks.forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
