---
import Link from "@components/Link.astro";

interface Props {
  prevURL?: string;
  nextURL?: string;
}

const { prevURL, nextURL } = Astro.props as Props;
---

<nav class="flex items-center justify-between">
  {
    prevURL && (
      <Link
        text="Previous"
        href={prevURL}
        style={"secondary"}
        icon={{
          name: "line-md:chevron-small-double-left",
          side: "left",
        }}
        classes={["mr-auto"]}
      />
    )
  }
  {
    nextURL && (
      <Link
        text="Next"
        href={nextURL}
        style={"secondary"}
        icon={{
          name: "line-md:chevron-small-double-right",
          side: "right",
        }}
        classes={["ml-auto"]}
      />
    )
  }
</nav>
