---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: { score: number; post: CollectionEntry<"blog"> }[];
}

const { posts } = Astro.props as Props;
---

<ul class="flex flex-wrap gap-4">
  {
    posts.map(({ post }) => (
      <li>
        <a
          href={`/blog/posts/${post.id}`}
          class="group bg-fill-muted text-fg-muted block rounded-lg p-4"
        >
          <h3 class="group-hover:text-accent transition md:text-lg">
            {post.data.title}
          </h3>
          <small>{post.data.date.toLocaleDateString()}</small>
        </a>
      </li>
    ))
  }
</ul>
