---
import { filterPosts, slugify } from "@utils/utils";
import { getAllTags, tagsToNumberOfPosts } from "@utils/TagsUtils";

import { getCollection, CollectionEntry } from "astro:content";

interface Props {
  showCount?: boolean;
  tagsToShow?: number;
  postTags?: CollectionEntry<"blog">["data"]["tags"];
}

// tagsToShow defaults to showing all
const {
  showCount = true,
  tagsToShow = 0,
  postTags = null,
} = Astro.props as Props;

const allPosts = await getCollection("blog");
const filteredPosts = filterPosts(allPosts);

let allTags: CollectionEntry<"blog">["data"]["tags"];
if (postTags) {
  allTags = postTags;
} else {
  allTags = getAllTags(filteredPosts);
}

const tagsToPosts = tagsToNumberOfPosts(allTags, filteredPosts, tagsToShow);
---

<ul>
  {
    tagsToPosts.map((tagToPosts) => (
      <li>
        <a href={`/blog/tags/${slugify(tagToPosts.tag)}`}>
          {tagToPosts.tag} {showCount && `(${tagToPosts.posts})`}
        </a>
      </li>
    ))
  }
</ul>
