---
import { filterPosts, slugify } from "@utils/utils";
import { getAllTags, tagsToNumberOfPosts } from "@utils/TagsUtils";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  showCount?: boolean;
  tagsToShow?: number;
  postTags?: CollectionEntry<"blog">["data"]["tags"];
}

const {
  showCount = true,
  tagsToShow, // default to showing all
  postTags,
} = Astro.props as Props;

const allPosts = await getCollection("blog");
const filteredPosts = filterPosts(allPosts);

let allTags: CollectionEntry<"blog">["data"]["tags"];
if (postTags) {
  allTags = postTags;
} else {
  allTags = getAllTags(filteredPosts);
}

const tagsToPosts = tagsToNumberOfPosts(allTags, filteredPosts, tagsToShow);
---

<ul class="flex flex-wrap items-start justify-start gap-x-8 gap-y-2">
  {
    tagsToPosts.map((tagToPosts) => (
      <li>
        <a
          href={`/blog/tags/${slugify(tagToPosts.tag)}`}
          class="whitespace-nowrap text-sm text-theme-light-text-muted transition hover:text-theme-light-accent dark:text-theme-dark-text-muted dark:hover:text-theme-dark-accent md:text-base lg:text-lg"
        >
          {tagToPosts.tag} {showCount && `(${tagToPosts.posts})`}
        </a>
      </li>
    ))
  }
</ul>
