---
import { Icon } from "astro-icon";

interface Props {
  text: string;
  href: string;
  style: "primary" | "secondary";
  icon?: {
    name: string;
    side: "left" | "right";
  };
  classes?: [];
}

const { text, href, style, icon, classes } = Astro.props;
---

<a
  {href}
  class:list={[
    style === "primary"
      ? ["bg-blue-300", "text-black-300"]
      : ["bg-black-300", "text-blue-300"],
    // { "primary-btn": style === "primary", "secondary-btn": style === "secondary" },

    ...classes,
  ]}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a>
